
.cs-footer{
    @include create-flex(column,center,center,0,nowrap);
    padding: 15px;
    .cs-footer-social-links{
        @include create-flex(row,center,center,20px,wrap);
        margin-bottom: 15px;
        .cs-footer-social-icon{
            height: 35px;
            width: 35px;
            transition: transform 300ms;
            &:hover{
                transform: scale(0.8 ,0.8);
            }
        }
    }
    .cs-footer-faq-list{
        @include create-flex(column,center,center,0,nowrap);
        a{
            font-size: 0.75rem;
            text-decoration: none;
            color: #276873;
        }
        button{
            border:none;
            font-size: 0.75rem;
            text-decoration: none;
            color: #276873;
        }
    }
    p{
        text-align: center;
    }
}