@mixin boton($bgcolor,$hoverColor,$border){
    background-color: $bgcolor;
    border: $border;
    &:hover{
        background-color: $hoverColor;
    }
}

@mixin create-flex($direction,$justify,$align,$gap,$wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}
