$theme-colors: (
  "primary": #ffc477,
  "secondary": #6c757d, 
  "light": #f8f9fa,
  "dark": #212529,
);

$color_1: #1D1C1B;
$color_2: #ffffff;
$color_3: rgb(2,2,2);
$color_4: hsl(0 20% 99% / 1);
$font-family_1: 'Oxygen', sans-serif;
$font-family_2: Arial;
$background-color_1: #FFFFFF;
$background-color_2: hsla(41, 100%, 77%, 0.25);
$background-color_3: #408c99;
$background-color_4: #ffc477;
$background-color_5: #fb9e25;
$background-color_6: hsla(14, 33%, 32%, 0.4);
$background-color_7: white;
$button-hover-color: #C7B19E;

$accordion--_button-size: 3rem;
$accordion--_panel-padding: 0.75rem;
$accordion--_panel-gap: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap";

@keyframes phrase2 {
	to {
		stroke-dashoffset: 0;
	}
}
* {
	box-sizing: border-box;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}
html {
	color-scheme: light;
	scroll-behavior: smooth;
}
body {
	font-family: $font-family_1;
	color: $color_1;
	line-height: 1.6;
	font-size: 1.125rem;
	background-color: $background-color_1;
	padding: 0;
	margin: 0;
}
main{
    padding-top: 55px;
}
section {
	padding-block: 2rem;
}
button:hover{
    color: $button-hover-color !important;
}
.index{
    display: flex;
	flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    background-color: $background-color_6;
	background-image: url("../assets/img/snowboard-background.jpg");
	background-size: cover;
    background-position: center;
    height:50vh;
    .index-title{
        min-height: 200px;
        width: clamp(200px, 40%, 400px);
        .st0{
            stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
            stroke: white;
            stroke-width: 2px;
            animation: phrase2 5s forwards;
        }
    }
}
.home {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
	height: 60vh;
	background: linear-gradient(330deg, rgba(255,255,255,1) 0%, rgba(245,243,243,1) 67%, rgba(255,218,136,0.72) 91%);
    .home-presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .apple-store-button{
            width: clamp(200px, 40%, 350px);
            cursor:pointer;
        }
        .google-play-button{
            width: clamp(200px, 40%, 350px);
            cursor:pointer;
        }
    }
}

.home-2 {
	background-color: $background-color_6;
	background-image: url("../assets/img/cafe.svg");
	background-size: cover;
}
.cabecera {
	position: fixed;
	background-color: $background-color_7;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 65px;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}
.company-icon {
	margin-left: 15px;
}
.cs-navbar-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    gap:15px;
	min-width: 500px;
	min-height: 30px;
	z-index: 1001;
	.cs-navbar-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
		.cs-a {
            font-family: $font-family_1;
            line-height: 1.6;
            font-size: 1.125rem;
			filter: blur(1px);
			color: $color_1;
			font-weight: 400;
			text-decoration: none;
			font-size: 1.2rem;
			transition: filter .5s;
			&:hover {
				filter: blur(0) !important;
				color: $color_1;
			}
		}
	}
	&:hover {
		.cs-navbar-item {
			.cs-a {
				filter: blur(1px);
				color: $color_3;
			}
		}
	}
	.cs-active {
		.cs-a {
			filter: blur(0px);
			color: $color_3;
		}
	}
}
.burger-button-container {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 50px;
	width: 60px;
    .burger-button-burger {
        position: absolute;
        filter: url(#gooeyness);
    }
    .burger-button-plates {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        max-height: 160px;
    }
    .burger-button-plate {
        position: relative;
        height: 60px;
        width: 60px;
        .burger-button-line1 {
            stroke-dasharray: 21 185.62753295898438;
            transition-delay: 0;
        }
        .burger-button-line2 {
            stroke-dasharray: 21 178.6514129638672;
            transition-delay: 30ms;
        }
        .burger-button-line3 {
            stroke-dasharray: 21 197.92425537109375;
            transition-delay: 60ms;
        }
        .burger-button-line4 {
            stroke-dasharray: 21 190.6597137451172;
            transition-delay: 90ms;
        }
        .burger-button-line5 {
            stroke-dasharray: 21 208.52874755859375;
            transition-delay: 120ms;
        }
        .burger-button-line6 {
            stroke-dasharray: 21 186.59703063964844;
            transition-delay: 150ms;
        }
    }
    .burger-button-x {
        position: absolute;
        transform: scale(0);
        transition: transform 400ms;
        .burger-button-line {
            stroke-width: 5.5px;
        }
    }
    .burger-button-line {
        fill: none;
        stroke: #1D1C1B;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms, stroke 500ms 200ms;
    }
    .burger-button-active.burger-button-plate {
        .burger-button-line1 {
            stroke-dasharray: 5 185.62753295898438;
            stroke-dashoffset: -141px;
        }
        .burger-button-line2 {
            stroke-dasharray: 5 178.6514129638672;
            stroke-dashoffset: -137px;
        }
        .burger-button-line3 {
            stroke-dasharray: 5 197.92425537109375;
            stroke-dashoffset: -176px;
        }
        .burger-button-line4 {
            stroke-dasharray: 5 190.6597137451172;
            stroke-dashoffset: -159px;
        }
        .burger-button-line5 {
            stroke-dasharray: 5 208.52874755859375;
            stroke-dashoffset: -139px;
        }
        .burger-button-line6 {
            stroke-dasharray: 5 186.59703063964844;
            stroke-dashoffset: -176px;
        }
        .burger-button-x {
            transition: transform 400ms 250ms;
        }
    }
    .burger-button-active {
        .burger-button-x {
            transform: scale(1);
            transition: transform 400ms 350ms;
        }
        .burger-button-burger {
            .burger-button-line {
                stroke: #FFFFFF;
            }
        }
    }
}

.selector-wrapper {
	position: relative;
	max-width: 50rem;
	margin-inline: auto;
	padding-inline: 1rem;
	z-index: 1;
}
.accordion {
	--_button-size: 3rem;
	--_panel-padding: 0.75rem;
	--_panel-gap: 1rem;
	color: $color_4;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	z-index: 2;
	* {
		margin: 0;
	}
    .accordion-panel {
        position: relative;
        isolation: isolate;
        flex-basis: calc(($accordion--_panel-padding * 2) + $accordion--_button-size);
        overflow: hidden;
        padding: $accordion--_panel-padding;
        padding-right: calc($accordion--_panel-padding * 4);
        border-radius: calc((($accordion--_panel-padding * 2) + $accordion--_button-size) / 2);
        z-index: 3;
        &:has([aria-expanded="true"]) {
            flex-basis: clamp(15rem,40vh,20rem);
            flex-grow: 1;
            p {
                transform: translateY(0);
                opacity: 1;
            }
            .accordion-image {
                filter: brightness(0.5);
            }
        }
        &:focus-within {
            outline: 3px solid hsla(0, 0%, 100%, 0.55);
            outline-offset: 3px;
        }
    }
    .accordion-trigger {
        outline: 0;
        display: flex;
        align-items: center;
        gap: $accordion--_panel-gap;
        flex-direction: row-reverse;
        background: transparent;
        border: 0;
        padding: 0;
    }
    .accordion-content {
        >p {
            transform: translateY(2rem);
            opacity: 0;
            margin-left: calc($accordion--_button-size + $accordion--_panel-gap);
        }
    }
    .accordion-title {
        color: $color_2;
        font-size: 1.15rem;
        font-weight: 500;
        position: relative;
        isolation: isolate;
        display: grid;
        align-items: center;
    }
    .accordion-image {
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: filter 500ms;
    }
    .accordion-icon {
        background: hsla(0, 0%, 0%, 0.55);
        width: $accordion--_button-size;
        aspect-ratio: 1;
        padding: 0.5rem;
        border-radius: 50%;
        z-index: 10;
    }
}

@media (max-width: 44.999em) {
	.cs-navbar-list {
		overflow: hidden;
		background-color: $background-color_1;
        border: 1px $background-color_5 solid;
        border-radius: 8px;
		position: absolute;
		right: 1px;
        top:55px;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 200px;
		min-width: 150px;
		max-width: 150px;
		z-index: 1001;
		transform: translateX(150px);
		transition: transform 500ms;
	}
	.cs-navbar-list-active {
		.cs-navbar-list {
			transform: translateX(0);
		}
	}
	.accordion-title {
		&::after {
			content: '';
			position: absolute;
			left: calc(($accordion--_panel-gap + $accordion--_button-size) * -1);
			width: calc(100% + ($accordion--_button-size * 2));
			height: $accordion--_button-size;
			background: hsl(0 0% 0% / 0.5);
			z-index: -1;
			border-radius: 100vw;
		}
	}
}
@media (min-width: 45em) {
	.burger-button-container {
		display: none;
	}
	.accordion {
		flex-direction: row;
		height: 30rem;
	}
    .index{
        height:80vh;
    }
}
@media (prefers-reduced-motion: no-preference) {
	.accordion-panel {
		transition: flex-basis 500ms, flex-grow 500ms;
		&:has([aria-expanded="true"]) {
			p {
				transition: transform 500ms 500ms, opacity 500ms 500ms;
			}
		}
	}
}


.cs-footer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    .cs-footer-social-links{
        display: flex;
        flex-direction: row;
        gap:20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        .cs-footer-social-icon{
            height: 35px;
            width: 35px;
            transition: transform 300ms;
            &:hover{
                transform: scale(0.8 ,0.8);
            }
        }
    }
    .cs-footer-faq-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            font-size: 0.75rem;
            text-decoration: none;
            color: #276873;
        }
    }
    p{
        text-align: center;
    }
}


.contacto{
    background-color: transparent;
    input:focus{
        border-color:$background-color_5 ;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $background-color_4;
    }
    textarea:focus{
        border-color:$background-color_5 ;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 7px $background-color_4;
    }
    
}
