<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../assets/icons/favicon.ico" />
	<title>Casa de Cafe</title>
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/coffeehome.js" type="text/javascript" defer></script>
	<script src="../components/footer.js" type="text/javascript" defer></script>
</head>

<body>
	<header class="cabecera">
		<a href="../index.html">
			<img class="company-icon" src="../assets/icons/coffee-shop-sign.svg" alt="logo sitio" width="50px" height="50px">
		</a>
		
		<nav class="cs-navbar">
			<ul class="cs-navbar-list">
				<li class="cs-navbar-item"><a class="cs-a" href="../index.html">Inicio</a></li>
				<li class="cs-navbar-item cs-active"><a class="cs-a" href="./coffeehome.html">Coffee Store</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./nosotros.html">Nosotros</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./servicios.html">Servicios</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./productos.html">Productos</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<div class="burger-button-container" >
			<div class="burger-button-plates">
			  <div class="burger-button-plate" >
				<svg class="burger-button-burger" version="1.1" viewBox="0 0 100 100" >
				  <path class="burger-button-line burger-button-line1" d="M 50,65 H 70 C 70,65 75,65.198488 75,70.762712 C 75,73.779026 74.368822,78.389831 66.525424,78.389831 C 22.092231,78.389831 -18.644068,-30.508475 -18.644068,-30.508475" />
				  <path class="burger-button-line burger-button-line2" d="M 50,35 H 70 C 70,35 81.355932,35.300135 81.355932,25.635593 C 81.355932,20.906215 78.841706,14.830508 72.881356,14.830508 C 35.648232,14.830508 -30.508475,84.322034 -30.508475,84.322034" />
				  <path class="burger-button-line burger-button-line3" d="M 50,50 H 30 C 30,50 12.288136,47.749959 12.288136,60.169492 C 12.288136,67.738339 16.712974,73.305085 40.677966,73.305085 C 73.791674,73.305085 108.47458,-19.915254 108.47458,-19.915254" />
				  <path class="burger-button-line burger-button-line4" d="M 50,50 H 70 C 70,50 81.779661,50.277128 81.779661,36.607372 C 81.779661,28.952694 77.941689,25 69.067797,25 C 39.95532,25 -16.949153,119.91525 -16.949153,119.91525" />
				  <path class="burger-button-line burger-button-line5" d="M 50,65 H 30 C 30,65 17.79661,64.618439 17.79661,74.152543 C 17.79661,80.667556 25.093813,81.355932 38.559322,81.355932 C 89.504001,81.355932 135.59322,-21.186441 135.59322,-21.186441" />
				  <path class="burger-button-line burger-button-line6" d="M 50,35 H 30 C 30,35 16.525424,35.528154 16.525424,24.152542 C 16.525424,17.535987 22.597755,13.559322 39.40678,13.559322 C 80.617882,13.559322 94.067797,111.01695 94.067797,111.01695" />
				</svg>
				<svg class="burger-button-x" version="1.1" viewBox="0 0 100 100">
				  <path class="burger-button-line" d="M 34,32 L 66,68" />
				  <path class="burger-button-line" d="M 66,32 L 34,68" />
				</svg>
				<svg>
				  <defs>
					<filter id="burger-button-gooeyness">
					  <feGaussianBlur in="SourceGraphic" stdDeviation="2.2" result="blur" />
					  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooeyness" />
					  <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
					</filter>
				  </defs>
				</svg>
			  </div>
			</div>
		</div>
	</header>
	<main>
		<section class="home" id="home">
			<article class="home-presentation">
				<h1>Snow Café</h1>
				<p>Ademas de nieve... un buen cafe</p>
				<p>Descarga nuestra App </p>
				<img class="apple-store-button" src="../assets/img/apple-store-button.svg" alt="apple-store-button">
				<img class="google-play-button" src="../assets/img/google-play-button.svg" alt="google-play-button">
				
				<!-- <img src="./assets/img/bg-1.png" alt=""> -->
			</article>
		</section>
		<section class="home-2" id="home-2">
			<div class="selector-wrapper">
				<div class="accordion">
					<div class="accordion-panel">
						<h2 id="panel1-heading">
							<button class="accordion-trigger" 
									aria-controls="panel1-content" 
									aria-expanded="true">
								<span class="accordion-title" id="panel1-title">Recetas Propias</span>
								
								<img src="../assets/icons/icon-documentation.svg" alt="icono textos de cafe" aria-hidden="false" class="accordion-icon"/>
							</button>
						</h2>
						<div class="accordion-content" 
							id="panel1-content" 
							aria-labelledby="panel1-heading"
							role="region"
							aria-hidden="false">
							<p>
								Nuestros baristas nos proporcionan las recetas mas ricas para que disfrutes de un cafe inovador y revitalizante.
							</p>
							<img class="accordion-image" src="../assets/img/estudio2.webp"  alt="imagen textos de cafe"/>
						</div>
					</div>
					<div class="accordion-panel">
						<h2 id="panel2-heading">
							<button class="accordion-trigger" 
									aria-controls="panel2-content" 
									aria-expanded="false">
								<span class="accordion-title" id="panel2-title">Laboratorios</span>
								<img src="../assets/icons/icon-flask.svg" alt="icono laboratorios de cafe" aria-hidden="true" class="accordion-icon"/>
							</button>
						</h2>
						<div class="accordion-content" 
							id="panel2-content" 
							aria-labelledby="panel2-heading"
							role="region"
							aria-hidden="true">
							<p>
								Te invitamos a participar de los workshop de cafe! <a href="#">Inscribite aca!</a>
							</p>
							
							<img class="accordion-image" src="../assets/img/laboratorio1.jpg" alt="imagen laboratorios de cafe"/>
						</div>
					</div>
					<div class="accordion-panel">
						<h2 id="panel3-heading">
							<button class="accordion-trigger" 
									aria-controls="panel3-content" 
									aria-expanded="false">
								<span class="accordion-title" id="panel3-title">Dibujo y cafe</span>
								<img src="../assets/icons/icon-notebook.svg" alt="icono cuadernos de cafe" aria-hidden="true" class="accordion-icon"/>
							</button>
						</h2>
						<div class="accordion-content" 
							id="panel3-content" 
							aria-labelledby="panel3-heading"
							role="region"
							aria-hidden="true">
							<p>
								Tenemos talleres de dibujo y arte con degustacion de cafe!... para que disfrutes de tu tiempo fuera de la pista!
							</p>
							<img class="accordion-image" src="../assets/img/estudios1.jpg" alt="imagen cuadernos de cafe"/>
						</div>
					</div>
					<div class="accordion-panel">
						<h2 id="panel4-heading">
							<button class="accordion-trigger" 
									aria-controls="panel4-content" 
									aria-expanded="false">
								<span class="accordion-title" id="panel4-title">Ubicaciones</span>
								<img src="../assets/icons/icon-panels.svg" alt="icono direcciones de cafe" aria-hidden="true" class="accordion-icon"/>
							</button>
						</h2>
						<div class="accordion-content" 
							id="panel4-content" 
							aria-labelledby="panel4-heading"
							role="region"
							aria-hidden="true">
							<p>
								Nuestros locales cuentan con las comodidades que necesitas despues de un dia a puro snow.
							</p>
							<img class="accordion-image" src="../assets/img/local1.jpg" alt="imagen direcciones de cafe"/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="bg-primary text-white py-5">
			  <div class="container py-5">
				<h1>
				  Encontra tambien nuestras recomendaciones
				</h1>
				<p>
				  Productos a precios imperdibles!
				</p>
				<button type="button" class="btn  text-dark pt-2 border border-dark">
				  <span class="pt-1">Comprar ahora</span>
				</button>
			  </div>
			</div>
		  </section>
		  <section>
			<div class="container my-5">
			  <div class="mb-4">
				  <h3> Productos a precios imperdibles!</h3>
			  </div>
			
			  <div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/taza1.webp" alt="imagen producto 1" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Taza De Cerámica - Hora De Aventura - Jake</h5>
					  <p class="card-text">$2199</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/cafetera1.webp" alt="imagen producto 2" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Cafetera Nespresso Essenza Mini</h5>
					  <p class="card-text">$79990</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/cafetera2.webp" alt="imagen producto 3" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Cafetera Express Roma Pro</h5>
					  <p class="card-text">$78617</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/filtrocafe1.webp" alt="imagen producto 4" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Filtro De Café De Acero Inoxidable</h5>
					  <p class="card-text">$6000</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/cafetera3.webp" alt="imagen producto 5" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Cafetera Chemex</h5>
					  <p class="card-text">$38000</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/decantador1.webp" alt="imagen producto 6" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Decantador De Café Por Goteo</h5>
					  <p class="card-text">$14999</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/cafetera4.webp" alt="imagen producto 7" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Cafetera Con Embolo</h5>
					  <p class="card-text">$5299</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
				  <div class="card w-100 my-2 shadow-2-strong">
					<img src="../assets/img/taza2.webp" alt="imagen producto 8" class="card-img-top" style="aspect-ratio: 1 / 1" />
					<div class="card-body d-flex flex-column">
					  <h5 class="card-title">Taza De Cerámica Star Wars</h5>
					  <p class="card-text">$1899</p>
					  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
						<a href="#!" class="btn btn-primary shadow-0 me-1">Agregar al carro</a>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		</section>
		
	</main>

	

	<footer-component/>
		

</body>

</html>