<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/icons/favicon.ico" />
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../components/planet.js" type="text/javascript" defer></script>
    <title>Error Page</title>
</head>
<body>
    <div class="cs-container text-center">
        <div class="row h-100 p-4">
          <div class="col-md-8 d-flex flex-column h-md-100 justify-content-center align-content-center">
            <h1>404</h1>
            <div class="cs-planeta">
                <planeta-component></planeta-component>
                <img class="cs-snowboard" src="../assets/icons/snowboard.svg" alt="tabla snowboard">
            </div>
            
        </div>
          <div class="col-md-4 d-flex flex-column h-md-100 justify-content-center align-content-center">
            <h2>Parece que algo no anda bien...</h2>
            <h3>Vuelve a la pagina principal e intenta de nuevo.</h3>
            <a class="btn btn-primary" href="../index.html">Home</a>
          </div>
        </div>
    </div>
</body>
</html>