<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../assets/icons/favicon.ico" />
	<title>Cafe home</title>
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/home.js" type="text/javascript" defer></script>
	<script src="../components/footer.js" type="text/javascript" defer></script>
</head>

<body>
	<header class="cabecera">
		<a href="../index.html">
			<img class="company-icon" src="../assets/icons/coffee-shop-sign.svg" alt="logo sitio" width="50px" height="50px">
		</a>
		
		<nav class="cs-navbar">
			<ul class="cs-navbar-list">
				<li class="cs-navbar-item cs-active"><a class="cs-a" href="./home.html">Home</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./nosotros.html">Nosotros</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./servicios.html">Servicios</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./productos.html">Productos</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<div class="burger-button-container" >
			<div class="burger-button-plates">
			  <div class="burger-button-plate" >
				<svg class="burger-button-burger" version="1.1" viewBox="0 0 100 100" >
				  <path class="burger-button-line burger-button-line1" d="M 50,65 H 70 C 70,65 75,65.198488 75,70.762712 C 75,73.779026 74.368822,78.389831 66.525424,78.389831 C 22.092231,78.389831 -18.644068,-30.508475 -18.644068,-30.508475" />
				  <path class="burger-button-line burger-button-line2" d="M 50,35 H 70 C 70,35 81.355932,35.300135 81.355932,25.635593 C 81.355932,20.906215 78.841706,14.830508 72.881356,14.830508 C 35.648232,14.830508 -30.508475,84.322034 -30.508475,84.322034" />
				  <path class="burger-button-line burger-button-line3" d="M 50,50 H 30 C 30,50 12.288136,47.749959 12.288136,60.169492 C 12.288136,67.738339 16.712974,73.305085 40.677966,73.305085 C 73.791674,73.305085 108.47458,-19.915254 108.47458,-19.915254" />
				  <path class="burger-button-line burger-button-line4" d="M 50,50 H 70 C 70,50 81.779661,50.277128 81.779661,36.607372 C 81.779661,28.952694 77.941689,25 69.067797,25 C 39.95532,25 -16.949153,119.91525 -16.949153,119.91525" />
				  <path class="burger-button-line burger-button-line5" d="M 50,65 H 30 C 30,65 17.79661,64.618439 17.79661,74.152543 C 17.79661,80.667556 25.093813,81.355932 38.559322,81.355932 C 89.504001,81.355932 135.59322,-21.186441 135.59322,-21.186441" />
				  <path class="burger-button-line burger-button-line6" d="M 50,35 H 30 C 30,35 16.525424,35.528154 16.525424,24.152542 C 16.525424,17.535987 22.597755,13.559322 39.40678,13.559322 C 80.617882,13.559322 94.067797,111.01695 94.067797,111.01695" />
				</svg>
				<svg class="burger-button-x" version="1.1" viewBox="0 0 100 100">
				  <path class="burger-button-line" d="M 34,32 L 66,68" />
				  <path class="burger-button-line" d="M 66,32 L 34,68" />
				</svg>
				<svg>
				  <defs>
					<filter id="burger-button-gooeyness">
					  <feGaussianBlur in="SourceGraphic" stdDeviation="2.2" result="blur" />
					  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooeyness" />
					  <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
					</filter>
				  </defs>
				</svg>
			  </div>
			</div>
		</div>
	</header>

	<section class="home" id="home">
		<article class="home-presentation">
			<h1>Una Tienda de Café</h1>
			<p>Esta para vos, para proporcionarte todo lo que necesites en este mundo</p>
			<p>Usa nuestra </p><a class="aplicacion-button">aplicación</a>
			
			<!-- <img src="./assets/img/bg-1.png" alt=""> -->
		</article>
	</section>
	<section class="home-2" id="home-2">
		<div class="selector-wrapper">
			<div class="accordion">
				<div class="accordion-panel">
					<h2 id="panel1-heading">
						<button class="accordion-trigger" 
								aria-controls="panel1-content" 
								aria-expanded="true">
							<span class="accordion-title" id="panel1-title">Lorem ipsum</span>
							
							<img src="../assets/icons/icon-documentation.svg" alt="icono textos de cafe" aria-hidden="false" class="accordion-icon"/>
						</button>
					</h2>
					<div class="accordion-content" 
						id="panel1-content" 
						aria-labelledby="panel1-heading"
						role="region"
						aria-hidden="false">
						<p>
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos repudiandae nobis beatae, molestias doloribus pariatur architecto eos earum labore necessitatibus a inventore! Aliquam officia aperiam, eaque repudiandae non libero nulla?
						</p>
						<img class="accordion-image" src="../assets/img/estudio2.webp"  alt="imagen textos de cafe"/>
					</div>
				</div>
				<div class="accordion-panel">
					<h2 id="panel2-heading">
						<button class="accordion-trigger" 
								aria-controls="panel2-content" 
								aria-expanded="false">
							<span class="accordion-title" id="panel2-title">Lorem ipsum</span>
							<img src="../assets/icons/icon-flask.svg" alt="icono laboratorios de cafe" aria-hidden="true" class="accordion-icon"/>
						</button>
					</h2>
					<div class="accordion-content" 
						id="panel2-content" 
						aria-labelledby="panel2-heading"
						role="region"
						aria-hidden="true">
						<p>
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore officia eius harum, reprehenderit dignissimos aliquam. Quaerat voluptate vero corrupti dignissimos, consectetur facilis temporibus quas aliquid accusantium, inventore assumenda iusto nesciunt?
						</p>
						<img class="accordion-image" src="../assets/img/laboratorio1.jpg" alt="imagen laboratorios de cafe"/>
					</div>
				</div>
				<div class="accordion-panel">
					<h2 id="panel3-heading">
						<button class="accordion-trigger" 
								aria-controls="panel3-content" 
								aria-expanded="false">
							<span class="accordion-title" id="panel3-title">Lorem ipsum</span>
							<img src="../assets/icons/icon-notebook.svg" alt="icono cuadernos de cafe" aria-hidden="true" class="accordion-icon"/>
						</button>
					</h2>
					<div class="accordion-content" 
						id="panel3-content" 
						aria-labelledby="panel3-heading"
						role="region"
						aria-hidden="true">
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos omnis exercitationem id rem inventore aspernatur obcaecati excepturi. Cum, adipisci eos exercitationem earum nostrum ex nihil, voluptatum non iusto culpa debitis?
						</p>
						<img class="accordion-image" src="../assets/img/estudios1.jpg" alt="imagen cuadernos de cafe"/>
					</div>
				</div>
				<div class="accordion-panel">
					<h2 id="panel4-heading">
						<button class="accordion-trigger" 
								aria-controls="panel4-content" 
								aria-expanded="false">
							<span class="accordion-title" id="panel4-title">Lorem ipsum</span>
							<img src="../assets/icons/icon-panels.svg" alt="icono direcciones de cafe" aria-hidden="true" class="accordion-icon"/>
						</button>
					</h2>
					<div class="accordion-content" 
						id="panel4-content" 
						aria-labelledby="panel4-heading"
						role="region"
						aria-hidden="true">
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores natus voluptate nemo totam itaque voluptates, nihil distinctio sunt assumenda aperiam. Laboriosam voluptatem quibusdam dolorem fugit rem vero, soluta corporis perspiciatis.
						</p>
						<img class="accordion-image" src="../assets/img/local1.jpg" alt="imagen direcciones de cafe"/>
					</div>
				</div>
				
			</div>
		</div>
		
	</section>

	<footer-component/>
		
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>

</html>