<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../assets/icons/favicon.ico" />
	<meta name="description" content="Te presentamos al equipo y que hacemos, aca nuestros objetivos se definen de una manera clara para que no pierdas de vista hacia donde vamos. no dudes en contactarnos!" />
	<meta name="keywords" content="Nieve, Alquiler, Equipos, Pases de montaña, cafe, contacto" />
	<title>Quienes somos Nosotros - Alquiler Snow</title>
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/nosotros.js" defer></script>
	<script src="../components/footer.js" type="text/javascript" defer></script>
</head>
<body>
	<header class="cabecera">
		<a href="../index.html" title="logo sitio">
			<img class="company-icon" src="../assets/icons/new-snow-sign.svg" title="logo sitio" alt="logo sitio" width="50px" height="50px">
		</a>
		<nav class="cs-navbar">
			<ul class="cs-navbar-list">
				<li class="cs-navbar-item"><a class="cs-a" href="../index.html" title="navbar inicio">Inicio</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./coffeehome.html" title="navbar cafe inicio">Coffee Shop</a></li>
				<li class="cs-navbar-item cs-active"><a class="cs-a" href="./nosotros.html" title="navbar nosotros">Nosotros</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./servicios.html" title="navbar servicios">Servicios</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./productos.html" title="navbar productos">Productos</a></li>
				<li class="cs-navbar-item"><a class="cs-a" href="./contacto.html" title="navbar contacto">Contacto</a></li>
			</ul>
		</nav>
		<div class="burger-button-container" >
			<div class="burger-button-plates">
			  <div class="burger-button-plate" >
				<svg class="burger-button-burger" version="1.1" viewBox="0 0 100 100" >
				  <path class="burger-button-line burger-button-line1" d="M 50,65 H 70 C 70,65 75,65.198488 75,70.762712 C 75,73.779026 74.368822,78.389831 66.525424,78.389831 C 22.092231,78.389831 -18.644068,-30.508475 -18.644068,-30.508475" />
				  <path class="burger-button-line burger-button-line2" d="M 50,35 H 70 C 70,35 81.355932,35.300135 81.355932,25.635593 C 81.355932,20.906215 78.841706,14.830508 72.881356,14.830508 C 35.648232,14.830508 -30.508475,84.322034 -30.508475,84.322034" />
				  <path class="burger-button-line burger-button-line3" d="M 50,50 H 30 C 30,50 12.288136,47.749959 12.288136,60.169492 C 12.288136,67.738339 16.712974,73.305085 40.677966,73.305085 C 73.791674,73.305085 108.47458,-19.915254 108.47458,-19.915254" />
				  <path class="burger-button-line burger-button-line4" d="M 50,50 H 70 C 70,50 81.779661,50.277128 81.779661,36.607372 C 81.779661,28.952694 77.941689,25 69.067797,25 C 39.95532,25 -16.949153,119.91525 -16.949153,119.91525" />
				  <path class="burger-button-line burger-button-line5" d="M 50,65 H 30 C 30,65 17.79661,64.618439 17.79661,74.152543 C 17.79661,80.667556 25.093813,81.355932 38.559322,81.355932 C 89.504001,81.355932 135.59322,-21.186441 135.59322,-21.186441" />
				  <path class="burger-button-line burger-button-line6" d="M 50,35 H 30 C 30,35 16.525424,35.528154 16.525424,24.152542 C 16.525424,17.535987 22.597755,13.559322 39.40678,13.559322 C 80.617882,13.559322 94.067797,111.01695 94.067797,111.01695" />
				</svg>
				<svg class="burger-button-x" version="1.1" viewBox="0 0 100 100">
				  <path class="burger-button-line" d="M 34,32 L 66,68" />
				  <path class="burger-button-line" d="M 66,32 L 34,68" />
				</svg>
				<svg>
				  <defs>
					<filter id="burger-button-gooeyness">
					  <feGaussianBlur in="SourceGraphic" stdDeviation="2.2" result="blur" />
					  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooeyness" />
					  <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
					</filter>
				  </defs>
				</svg>
			  </div>
			</div>
		</div>
	</header>

	<div class="bg-light">
		<div class="container">
		  <div class="row h-100 align-items-center py-5">
			<div class="col-lg-6">
			  <h1 class="h1-responsive font-weight-bold text-center">Sobre nosotros</h1>
			  <p class="lead text-muted mb-0">Somos la empresa que busca juntar todo lo que necesitas para un dia de pista!</p>
			  <p class="lead text-muted">Informacion -  locales - laboratorios y los mejores equipos</a>
			  </p>
			</div>
			<div class="col-lg-5 px-5 mx-auto "><img src="../assets/img/espacios-mountain.jpg" title="espacios-mountain" alt="espacios-mountain" class="img-fluid mb-4 mb-lg-0"></div>
		  </div>
			<h2 class="font-weight-light">Que queremos?</h2>
			<p class="text-muted mb-4">Buscamos que puedas tener todo a mano. por eso decidimos poner a tu disposicion distintas localizaciones. Tanto dentro y fuera de las pistas, estamos para acompañarte con los mejores eventos y lugares para que puedas disfrutar al maximo tu estancia!.</p>
		</div>
	  </div>
	  <div class="bg-white py-5">
		<div class="container">
		  <div class="row align-items-center mb-5">
			<div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
			  <h2 class="font-weight-light">Te ofrecemos ademas...</h2>
			  <p class="text-muted mb-4">Estamos en todas las pistas con eventos para introducirte a un pequeño grano... pero tambien un gran mundo, nuestros locales cuentan con los mejores entretenimientos y workshops sobre CAFE!</p>
			  <a href="../views/coffeehome.html" class="btn px-5 rounded-pill shadow-sm" title="info extendida">Info extendida</a>
			</div>
			<div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../assets/img/coffeeCup.jpg" title="taza paz amor cafe" alt="taza paz amor cafe" class="img-fluid mb-4 mb-lg-0"></div>
		  </div>
		  <div class="row align-items-center">
			<div class="col-lg-5 px-5 mx-auto"><img src="../assets/icons/coffee-machine.svg" title="maquina de cafe" alt="maquina de cafe" class="img-fluid mb-4 mb-lg-0"></div>
			<div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
			  <h2 class="font-weight-light">Workshops</h2>
			  <p class="text-muted mb-4">Podes inscribirte tambien contactandonos.</p><a href="../views/contacto.html" class="btn px-5 rounded-pill shadow-sm" title="contactar">Contactar!</a>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="bg-light py-5">
		<div class="container">
		  <div class="row">
			<div class="col-lg-5">
			  <h2 class="h2-responsive">Nuestro equipo</h2>
			  <p class="text-muted">Siempre a tu disposicion! Podes escribirnos cuando quieras!.</p>
			</div>
		  </div>
	  
		  <div class="row text-center">
			<div class="col-sm-6 mb-5">
			  <div class="bg-white shadow-sm py-5">
				<img src="../assets/img/avatar-2.webp" title="imagen integrante equipo 1" alt="imagen integrante equipo 1" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
				<h3 class="mb-0">Charly Scala</h3><span class="small text-uppercase text-muted">CEO - Founder</span>
			  </div>
			</div>
			<div class="col-sm-6 mb-5">
			  <div class="bg-white shadow-sm py-5">
				<img src="../assets/img/avatar-4.webp" title="imagen integrante equipo 2" alt="imagen integrante equipo 2" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
				<h3 class="mb-0">Pau Ruano</h3><span class="small text-uppercase text-muted">CEO - Founder</span>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <footer-component/>

</body>
</html>